[submodule "jbfilereader"]
	path = core/jbfilereader
	url = git://github.com/pjb7687/jbfilereader
[submodule "pako"]
	path = core/pako
	url = git://github.com/nodeca/pako
[submodule "needle_js"]
	path = core/needle_js
	url = git://github.com/pjb7687/needle_js
